.env
.env.backup

# Ignore vscode files.
**/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
migrations/Version20231215013630.php
migrations/Version20231215025702.php
migrations/Version20231215041906.php
migrations/Version20231215042518.php
migrations/Version20231215044008.php
migrations/Version20231229234808.php
migrations/Version20231230072037.php
migrations/Version20231230165701.php
migrations/Version20231231105841.php
migrations/Version20231231120305.php
