<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <style>
        #alertButton {
            background-color: #e51414;
            color: #ffffff;
            border: none;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition-duration: 0.4s;
        }

        #alertButton:hover {
            background-color: #ffffff;
            color: #e51414;
        }

        #alertButton:disabled {
            background-color: #cccccc;
            color: #666666;
        }
    </style>
</head>
<body>
    
    {% include 'webpage/navbar.html.twig' %}
    <div class="main-content">
        <h1>Bienvenido {{ user.getEmail() }} </h1>
        <p>Este es el menu de administración</p>
        <br>
        <button type="button" class="btn btn-primary" id="alertButton">Alertar Saldo Bajo</button>
    </div>

    <script>
        $(document).ready(function(){
    $('#alertButton').click(function(){
        $(this).prop('disabled', true); 
        var count = 0; 
        $.ajax({
            type: 'POST',
            url: '/send/AlertEmail/Data',
            success: function(response){
                count++; 
                alert(response);
                $('#alertButton').prop('disabled', false); 
            },
            error: function(error){
                alert('Error: ' + error.responseText);
                $('#alertButton').prop('disabled', false); 
            },
            complete: function() {
                alert('Number of alert emails sent: ' + count);
            }
        });
    });
});
    </script>
</body>
</html>
