{% extends 'base_crud.html.twig' %}
    {% block crud %}
        <head>
            <title>Manejo de programas</title>
        </head>
        {% include 'show/table_render.html.twig' %}

    {% endblock %}
    