{% extends 'base_crud.html.twig' %}
    {% block crud %}
        <head>
            <title>Manejo de Pautas</title>
        </head>

        {% include 'customer/table_render.html.twig' %}
    
    {% endblock %}
    