{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Manejo de clientes</h4>
                </div><!-- end card header -->
                <div class="card-body">            
                    <div class="row gx-3 gy-2 align-items-center">
                        <div class="col-sm-5">
                            <label for="inputName">Busqueda de cliente:</label>
                            <input type="text" class="form-control" id="{{searchId}}" placeholder="Introduzca RUT">
                        </div>
                        <!-- end col -->
                        <div class="col-auto align-self-end mt-4">
                            <button type="button" class="btn btn-primary"  data-bs-toggle="modal"  data-bs-target="#user-form-modal_new">Agregar nuevo cliente</button>
                        </div>
                        <!-- end col -->
                    </div><!-- end form -->
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header justify-content-between d-flex align-items-center">
                    <h4 class="card-title">Avisos a clientes</h4>
                </div>
                <div class="card-body">
                    <script defer>
                        $(document).ready(function () {
                        // Función común para ambos botones
                        function handleButtonClick(buttonId, url) {
                            $(buttonId).prop("disabled", true);
                            var count = 0;
                            $.ajax({
                            type: "POST",
                            url: url,
                            success: function (response) {
                                count++;
                                alert(response);
                            },
                            error: function (error) {
                                alert("Error: " + error.responseText);
                            },
                            complete: function () {
                                alert("Number of emails sent: " + count);
                                $(buttonId).prop("disabled", false);
                            },
                            });
                        }

                        // Configuración de los clics para ambos botones
                        //Esto debería ir en otro lado.
                        $("#alertButton").click(function () {
                            handleButtonClick("#alertButton", "/send/AlertEmail/Data");
                        });

                        $("#infoButton").click(function () {
                            handleButtonClick("#infoButton", "/send/AllEmail/Data");
                        });
                        });
                    </script>
                    <div class="form-group">
                        <style>
                            .btn-custom {
                                width: 100%;
                                height: 40px;
                                margin-bottom: 10px;
                            }
                        </style>
                        <button type="button" class="btn btn-danger btn-custom" id="alertButton">
                            Alertar Saldo Bajo
                        </button>
                        <button type="button" class="btn btn-primary btn-custom" id="infoButton">
                            Informar clientes
                        </button>
                    </div>
                </div>
            </div>
            <script defer type="text/javascript">
                $("#{{searchId}}").change(function (e) { 
                    e.preventDefault();

                    let search = $(this).val();

                    $.ajax({
                        type: 'GET',
                        url: "{{searchPath}}",
                        data: {'target': search},
                        dataType: 'json',
                        success: function (response) {
                            //console.log(response);
                            $("#output_table").html(response);
                        }
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}
