{% block body %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'customer/customer_search.html.twig' with {
                "newElement": "Añadir cliente",
                "searchText": "Buscar cliente por RUT",
                "searchId": "busca_clientes",
                "searchPath": path('app_search_customer'),
            } %}
    
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Todos los clientes</h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>RUT de cliente</th>
                                            <th>Nombre de cliente</th>
                                            <th>Organizacion</th>
                                            <th>Correo</th>
                                            <th>Telefono</th>
                                            <th>Publicidades solicitadas</th>
                                            <th>Pagos efectuados</th>
                                            <th>Acciones</th>
                                        </tr>                                        
                                    </thead>
                                    <tbody id="output_table">
                                        {% include 'customer/all_customer.html.twig' %}
                                    </tbody>
                                </table><!-- end table --> 
                            </div><!-- end responsive --> 
                        </div><!-- end card body --> 
                    </div><!-- end card --> 
                </div><!-- end col --> 
            </div><!-- end row -->  
        </div>
    </div>            
    
            
        {% include 'modal_base_form.html.twig' with {
            'passedForm' : creationForm,
            'titleForm': 'Creación de pauta',
        }%}
{% endblock %}