{% extends 'base.html.twig' %}

{% block title %}New Person{% endblock %}

{% block body %}
    <h1>Create new Person</h1>

    {{ include('person/_form.html.twig') }}

    <a href="{{ path('app_person_index') }}">back to list</a>
{% endblock %}
