{% extends 'base.html.twig' %}

{% block title %}Edit Audience{% endblock %}

{% block body %}
    <h1>Edit Audience</h1>

    {{ include('audience/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_audience_index') }}">back to list</a>

    {{ include('audience/_delete_form.html.twig') }}
{% endblock %}
