{% extends 'base.html.twig' %}

{% block title %}New Audience{% endblock %}

{% block body %}
    <h1>Create new Audience</h1>

    {{ include('audience/_form.html.twig') }}

    <a href="{{ path('app_audience_index') }}">back to list</a>
{% endblock %}
