{% extends 'base_rework.html.twig' %}
    {% block content %}
        <head>
            <title>Manejo de locutores</title>
        </head>

        {% include 'broadcaster/table_render.html.twig' %}
    
    {% endblock %}
    