{% extends 'base.html.twig' %}

{% block title %}Edit Broadcaster{% endblock %}

{% block body %}
    <h1>Edit Broadcaster</h1>

    {{ include('broadcaster/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_broadcaster_index') }}">back to list</a>

    {{ include('broadcaster/_delete_form.html.twig') }}
{% endblock %}
