{% extends 'base.html.twig' %}

{% block title %}New Broadcaster{% endblock %}

{% block body %}
    <h1>Create new Broadcaster</h1>

    {{ include('broadcaster/_form.html.twig') }}

    <a href="{{ path('app_broadcaster_index') }}">back to list</a>
{% endblock %}
