<form method="post" action="{{ path('app_publicity_delete', {'id': publicity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publicity.id) }}">
    <button class="btn">Delete</button>
</form>
