{% extends 'base_rework.html.twig' %}
    {% block head %}
        <head>
            <title>Manejo de publicidades</title>
        </head>
    {% endblock %}

    {% block content %}

        {% include 'publicity/table_render.html.twig' %}

    {% endblock %}
    