{% extends 'base.html.twig' %}

{% block title %}New Publicity{% endblock %}

{% block body %}
    <h1>Create new Publicity</h1>

    {{ include('publicity/_form.html.twig') }}

    <a href="{{ path('app_publicity_index') }}">back to list</a>
{% endblock %}
