{% block body %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'publicity/extra_search.html.twig' with {
                "newElement": "Nueva publicidad",
                'elementCount': publicities|length,
                "searchText": "Buscar publicidad por pauta",
                "searchId": "busca_publicidad",
                "searchPath": path('app_search_publicity'),
            } %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Todas las pautas</h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Frase</th>
                                            <th>Duracion</th>
                                            <th>Fondo</th>
                                            <th>Descripción</th>
                                            <th>Stock</th>
                                            <th>Cliente</th>
                                            <th>Audiencia</th>
                                            <th>Programa</th>
                                            <th>Pauta</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>      
                                    <tbody id="output_table">
                                        {% include 'publicity/all_publicities.html.twig' %}
                                    </tbody>
                                </table>
                            </div><!-- end responsive --> 
                        </div><!-- end card body --> 
                    </div><!-- end card --> 
                </div><!-- end col --> 
            </div><!-- end row -->  
        </div>
    </div>


    {% include 'modal_base_form.html.twig' with {
        'passedForm' : creationForm,
        'titleForm': 'Creación de publicidad',
    }%}
{% endblock %}