{% extends 'base_rework.html.twig' %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title"> Obtener boleta de cliente </h4>
                        </div><!-- end card header -->
                        <div class="card-body">            
                            <div class="row gx-3 gy-2 align-items-center">
                                <div class="col-sm-5">
                                    <label class="visually-hidden" for="boletaIdMoment">RUT</label>
                                    <input type="text" class="form-control" id="boletaIdMoment" placeholder="RUT del cliente">
                                </div>
    
                                <script defer type="text/javascript">
                                $("#boletaIdMoment").change(function (e) { 
                                    e.preventDefault();
                    
                                    let search = $(this).val();
                    
                                    $.ajax({
                                        type: 'GET',
                                        url: "{{path('app_search_boletas')}}",
                                        data: {'rut_boleta': search},
                                        dataType: 'json',
                                        success: function (response) {
                                            $("#customerTable tbody").empty();

                                            $.each(response, function(index, data) {
                                                var row = "<tr>" +
                                                    "<td>" + data.rut + "</td>" +
                                                    "<td>" + data.nombre + "</td>" +
                                                    "<td>" + data.empresa + "</td>" +
                                                    "<td>" + data.pubcount + "</td>" +
                                                    "<td><a href='" + data.link + "' target='_blank'>Ver Boleta</a></td>" +
                                                    "</tr>";

                                                $("#customerTable tbody").append(row);
                                            });
                                        }
                                    });
                                });
                            </script>
                                <!-- end col -->
                            </div><!-- end form -->
                        </div><!-- end card body -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Clientes disponibles</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="customerTable" class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>RUT Cliente</th>
                                            <th>Nombre cliente</th>
                                            <th>Empresa cliente</th>
                                            <th>Cant. Publicidades</th>
                                            <th>Enlace a boleta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Table rows will be dynamically added here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div> <!-- container-fluid -->
    </div>
{% endblock %}
