{% extends 'base_rework.html.twig' %}
    {% block head %}
        <head>
            <title>Manejo de stock y bolsas</title>
        </head>
    {% endblock %}

    {% block content %}

        {% include 'stock/table_render.html.twig' %}

    {% endblock %}
    