{% block body %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'search.html.twig' with {
                "newElement": "Nuevo stock",
                "searchText": "Buscar programas por nombre",
                "handlerText": "Gestión de stock",
                "searchPath": path('app_search_show'),
            } %}
    
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Stock de publicidades</h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>Tiempo (en segundos)</th>
                                            <th>Monto</th>
                                            <th>Publicidad</th>
                                            <th>Bolsa</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="output_table">
                                        {% include 'stock/all_stocks.html.twig' %}
                                    </tbody>
                                </table>
                            </div><!-- end responsive --> 
                        </div><!-- end card body --> 
                    </div><!-- end card --> 
                </div><!-- end col --> 
            </div><!-- end row -->  
        </div>
    </div>
    
    {% include 'modal_base_form.html.twig' with {
        'passedForm' : creationForm,
        'titleForm': 'Creación de stock para una publicidad',
    }%}
{% endblock %}