{% extends 'base.html.twig' %}

{% block title %}New Guideline{% endblock %}

{% block body %}
    <h1>Create new Guideline</h1>

    {{ include('guideline/_form.html.twig') }}

    <a href="{{ path('app_guideline_index') }}">back to list</a>
{% endblock %}
