{% block body %}
    <div class="page-content">
        <div class="container-fluid">
            {% include 'search.html.twig' with {
                "newElement": "Nueva pauta",
                "searchText": "Buscar pautas por nombre",
                "searchId": "busca_broadcaster",
                "searchPath": path('app_search_guideline'),
                "handlerText": "Manejo de pautas"
            } %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header justify-content-between d-flex align-items-center">
                            <h4 class="card-title">Todas las pautas</h4>
                        </div><!-- end card header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre de pauta</th>
                                            <th>Numero de emisión</th>
                                            <th>Fecha de creación</th>
                                            <th>Locutor</th>
                                            <th>Programas</th>
                                            <th>Acciones</th>
                                            <th>Reporte</th>
                                        </tr>
                                    </thead>
                                    <tbody id="output_table">
                                        {% include 'guideline/all_guidelines.html.twig' %}
                                    </tbody>
                                </table>
                            </div><!-- end responsive --> 
                        </div><!-- end card body --> 
                    </div><!-- end card --> 
                </div><!-- end col --> 
            </div><!-- end row -->  
        </div>
    </div>
  </div>
{% endblock %}
